html {
  background-color: var(--background);
}

body > nav a {
  display: block;
  color: #ccc;
  font-weight: var(--bold);
  text-decoration: var(--none-value);
  padding: 0.75rem var(--unitless-values);
  font-family: lato_bold;
}
body nav ul li {
  line-height: 3rem;
}
ul li a {
  font-size: var(--font);
}

body > nav a:hover {
  color: hotpink;
  font-weight: var(--bold);
}


body > nav ul {
  text-align: center;
  list-style: var(--none-value);
  margin: var(--unitless-values);
  padding: var(--unitless-values);
}


body header h2 {
  font-size: var(--font);
  color: cyan;
  text-align: center;
}
:root {
  --unitless-values: 0;
  --none-value: none;
  --bold: 700;
  --padding-base: 2rem;
  --background: gray;
  --font: 2rem;
}

div p {
  width: 45rem;
  height: 3rem;
  margin-inline-start: 20rem;
  background-color: yellow;
  font-size: 1.5rem;
  color: white;
  font-weight: 900;
}
p:hover {
  background-color:red;
  transition: 1s;
  padding-block-start: var(--padding-base);
  padding-inline-start: var(--padding-base);
  padding-inline-end: var(--padding-base);
  padding-block-end: var(--padding-base);
}
